body { margin: 0; padding: 0; }

.container {
  background-color: hsl(233, 47%, 7%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 1080px;
  height: 446px;
  margin-top: auto;
  margin-bottom: auto;
}

.card-content {
  margin: 70px;
  margin-right: 69px;
}

.title {
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 700;
  margin-top: 0;
}

.insights { color: hsl(277, 64%, 61%); }

.main-paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12.5px;
  letter-spacing: 0.4px;
  line-height: 23px;
  color: hsla(0, 0%, 100%, 0.75);
}

.card-img {
  width: 540px;
  height: 446px;
  color: white;
  overflow: hidden;
  background: linear-gradient(rgba(115, 24, 172, 0.5), rgba(115, 24, 172, 0.5)), url(images/image-header-desktop.jpg);
  border-radius: 0 10px 10px 0;
}

}

}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }.attribution a { color: hsl(277, 64%, 61%); text-decoration: none;}