body { margin: 0; padding: 0; }

.container {
  background-color: hsl(233, 47%, 7%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  border-radius: 10px;
  width: 1080px;
  margin: auto 0;
}

.card-content {
  margin: 70px;
}

.title {
  width: 400px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 700;
  margin-top: 0;
}

.insights { color: hsl(277, 64%, 61%); }

.main-paragraph {
  width: 340px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12.5px;
  letter-spacing: 0.4px;
  line-height: 23px;
  color: hsla(0, 0%, 100%, 0.75);
}

.card-img {
  width: 100%;
  background: linear-gradient(rgba(115, 24, 172, 0.5), rgba(115, 24, 172, 0.5)), url(images/image-header-desktop.jpg);
  border-radius: 0 10px 10px 0;
}

.stats {  
  display: flex;
}

.stats-item {
  margin-right: 50px;
}

.stats-item:last-child {
  margin-right: 0;
}

.stats h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 23px;
  margin-bottom: 8px;
}

.stats p {
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 13px;
  margin-top: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white; 
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
}

.attribution p {
  margin-bottom: 4px;
  margin-top: 0;
}

.attribution a { color: hsl(277, 64%, 61%); text-decoration: none;}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
  }

  .card {
    flex-direction: column-reverse;
    width: 90%;
    margin: 20px 0;
  }

  .card-content {
    text-align: center;
    margin: 30px;
  }

  .title {
    width: auto;
  }

  .main-paragraph {
    width: auto;
    font-size: 17px;
  }

  .card-img {
    height: 300px;
    border-radius: 10px 10px 0 0;
    background-size: cover;
  }
  
  .stats {
    flex-direction: column;
  }

  .stats-item {
    margin-right: 0;
  }
}